[project]
	description = This is the plugin for Jmeter to Test MQTT protocol
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/eshayadav
[access "refs/for/refs/*"]
	read = group user/eshayadav
	push = group user/eshayadav
	label-Code-Review = -2..+2 group user/eshayadav
	label-Verified = -1..+1 group user/eshayadav
	rebase = group user/eshayadav
	removeReviewer = group user/eshayadav
	submit = group user/eshayadav
[access "refs/heads/*"]
	read = group user/eshayadav
	create = group user/eshayadav
	push = +force group user/eshayadav
	pushMerge = group user/eshayadav
[access "refs/tags/*"]
	push = group user/eshayadav
	push = +force group user/eshayadav
